@keyframes sidenavEnter {
    from {
        width: 64px;
        position: relative;
        height: 100%;
    }
    to {
        width: 128px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
}

@keyframes sidenavExit {
    from {
        width: 128px;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }
    to {
        width: 64px;
        position: relative;
        height: 100%;
    }
}

.sidenav-true {
    animation: sidenavEnter;
    animation-duration: 500ms;
}

.sidenav-false {
    animation: sidenavExit;
    animation-duration: 500ms;
}


/* .sidenav-exit-done {
    width: 128px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
} */