html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.App {
  font-family: Ubuntu, sans-serif;
  width: inherit;
  height: inherit;
  background: url("./assets/images/background.svg");
  background-size: cover;
  padding: 2em;
  box-sizing: border-box;
}
