html, body, #root {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.App {
    background-size: cover;
    object-fit: contain;
}


/* body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding: 0;
    margin: 0;
} */